<!DOCTYPE html>
<html>
  <head>
    <title>JonSharp.net - <%= post.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= post.title %></h1>
    <%= post.content %>
  </body>
</html>
